---
import "../styles/styles.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio of ....</title>
    <meta name="description" content="Welcome to my Portfolio">
    <link rel="icon" href="/logos/logo.webp" type="image/x-icon">
</head>
<body>
    <div class="main-container">
        <div class="profile-container">
            <img src="/logos/profile.png" alt="Profile of ....">
            <h2>Name</h2>
            <p>Username</p>
        </div>
        <div class="projects-container">
            <div id="category1" class="category">
                <h3>1 - Category</h3>
                <div class="project-list">
                    <div class="project-item">
                        <a href="#">Project 1</a>
                    </div>
                    <div class="project-item">
                        <a href="#">Project 2</a>
                    </div>
                    <div class="project-item">
                        <a href="#">Project 3</a>
                    </div>
                </div>
            </div>
            <div id="category2" class="category">
                <h3>2 - Category</h3>
                <div class="project-list">
                    <div class="project-item">
                        <a href="#">Project 1</a>
                    </div>
                    <div class="project-item">
                        <a href="#">Project 2</a>
                    </div>
                    <div class="project-item">
                        <a href="#">Project 3</a>
                    </div>
                </div>
            </div>
            <div id="category3" class="category">
                <h3>3 - Category</h3>
                <div class="project-list">
                    <div class="project-item">
                        <a href="#">Project 1</a>
                    </div>
                    <div class="project-item">
                        <a href="#">Project 2</a>
                    </div>
                    <div class="project-item">
                        <a href="#">Project 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>