<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Portfolio of ....</title>
		<meta name="description" content="Welcome to my Portfolio">
		<link rel="icon" href="/logos/logo.webp" type="image/x-icon"/>
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>